@import 'fonts'

$green = #26A48B
$green_alt = #78F7DE
$green_alt2 = #82BCB1

$blue = #00B1FF
$blue_alt = #7AD1F7
$blue_alt2 = #E3F7FF

$pink = #9E558B
$pink_alt = #FD649C

$red = #F13747
$red_alt = #FFE5E6

$white = #FFF
$white_alt = #FCFCFC

$black = #171717
$black_alt = #4E4E4E
$black_alt2 = #53565C

$gray = #A8A8A8
$gray_alt = #ABADB9
$gray_alt2 = #808080

$border = #DEDEDE
$border_alt = #EDEEF0
$border_alt2 = #9C9EAA
$border_alt3 = #A0A0A0
$border_alt4 = #CECECE

image_default =
    height: auto
    vertical-align: middle
    object-fit: cover
    -webkit-user-drag: none

html
    -webkit-text-size-adjust: none
    -webkit-font-smoothing: subpixel-antialiased
    backface-visibility: hidden

*,
*:before,
*:after
    user-select: none
    box-sizing: border-box
    margin: 0

body
    overflow-x: hidden
    &.no_click
        pointer-events: none
    &.no_scroll
        overflow-y: hidden

input,
input:before,
input:after,
textarea,
textarea:before,
textarea:after,
select,
select:before,
select:after
    user-select: initial

h1,
h2,
h3,
h4,
h5
    font-weight: normal

table
    width: 100%
    border-collapse: collapse

img
    width: auto
    max-width: 100%
    {image_default}
    transition: .3s ease-in-out

a
    text-decoration: none

svg
    font-family: Brandon-Bold

/**
 * Default Buttons */
.default_btn
    display: inline-block
    width: auto
    brandon_bold(16px, true)
    color: $white
    letter-spacing: .7px
    padding: 15px 45px
    background-color: transparent
    border: none
    outline: none
    background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
    box-shadow: 0px 0px 30px transparent
    transition: .3s ease-in-out
    &:hover
        box-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
        transition: .3s ease-in-out

.default_btn_wht
    display: inline-block
    width: auto
    brandon_bold(16px, true)
    color: $green
    letter-spacing: .7px
    padding: 15px 45px
    background-color: $white
    border: none
    outline: none
    box-shadow: 0px 0px 30px transparent
    transition: .3s ease-in-out
    &.mb
        margin-bottom: 15px
    &:hover
        box-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
        transition: .3s ease-in-out

.default_btn_out
    display: inline-block
    position: relative
    brandon_bold(16px, true)
    color: $green
    letter-spacing: .7px
    outline: none
    padding: 15px 45px
    background-color: transparent
    border: 1px solid $green_alt2
    transition: .3s ease-in-out
    span
        position: inherit
    &::before
        content: ''
        position: absolute
        z-index: 0
        top: 0
        left: 0
        right: 0
        height: 100%
        opacity: 0
        background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
        box-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
        transition: .3s ease-in-out
    &:hover
        color: $white
        border: 1px solid transparent
        transition: .3s ease-in-out
        &::before
            opacity: 1
            transition: .3s ease-in-out

#main_container
    position: relative
    /**
     * Navbar Side */
    #header
        display: flex
        flex-flow: row wrap
        align-items: center
        position: fixed
        top: 0
        left: 0
        z-index: 6
        width: 100%
        background-color: transparent
        box-shadow: 0 3px 6px transparent
        border-bottom: 0.5px solid $border_alt3
        transition: .2s linear
        &.instructor
            background-color: $white
            box-shadow: 0 3px 6px transparent
            border-bottom: 0.5px solid $border_alt3
            transition: .2s linear
            .navbar
                padding: 10px 30px
                transition: .2s linear
                .logo
                    .logo_title
                        color: $black
                        transition: .3s ease-in-out
                .nav_list
                    li
                        .nav_item
                            color: $black_alt
                            transition: .3s ease-in-out
                            &:hover
                                color: $green
                                text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                                transition: .3s ease-in-out
            .nav_burger
                .bar
                    background-color: $black_alt
                    transition: .3s ease-in-out
                .excess_line
                    background-color: $black_alt
                    transition: .3s ease-in-out
        &.sticky,
        &.not_front
            border-bottom: 0.5px solid transparent
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
            background-color: $white
            transition: .2s linear
            .navbar
                padding: 10px 30px
                transition: .2s linear
                .logo
                    .logo_title
                        color: $black
                        transition: .3s ease-in-out
                .nav_list
                    li
                        .nav_item
                            color: $black_alt
                            transition: .3s ease-in-out
                            &:hover
                                color: $green
                                text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                                transition: .3s ease-in-out
            .nav_burger
                .bar
                    background-color: $black_alt
                    transition: .3s ease-in-out
                .excess_line
                    background-color: $black_alt
                    transition: .3s ease-in-out
        .navbar
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            flex: 0 0 95%
            border-right: 0.5px solid $border_alt3
            padding: 15px 30px
            transition: .2s linear
            .logo
                text-decoration: none
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: flex-start
                transition: .3s ease-in-out
                img
                    width: 45px
                    {image_default}
                .logo_title
                    neutra_bold(22px, true)
                    line-height: 1.25
                    color: $white
                    letter-spacing: 5px
                    padding-left: 20px
                    transition: .3s ease-in-out
            .nav_list
                list-style: none
                padding: 0
                margin: 0
                display: flex
                flex-flow: row wrap
                align-items: center
                li
                    margin: 0 30px
                    .nav_item
                        position: relative
                        brandon_bold(16px, true)
                        color: $white
                        letter-spacing: .5px
                        transition: .3s ease-in-out
                        &::before
                            content: ''
                            position: absolute
                            top: 100%
                            left: 0
                            width: 0
                            height: 3px
                            z-index: 1
                            background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                            opacity: 0
                            transition: .3s ease-in-out .3s
                        &::after
                            content: ''
                            position: absolute
                            top: 100%
                            left: calc(100% - 25%)
                            width: 0
                            height: 3px
                            z-index: 1
                            background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                            opacity: 0
                            transition: .3s ease-in-out .05s
                        &:hover
                            color: $green_alt
                            text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                            transition: .3s ease-in-out
                            &::before
                                width: calc(100% - 30%)
                                opacity: 1
                                transition: .3s ease-in-out .05s
                            &::after
                                width: calc(0% + 25%)
                                opacity: 1
                                transition: .3s ease-in-out .3s
        .nav_burger
            flex: 1 0 auto
            margin: 0 22px
            position: relative
            cursor: pointer
            .bar
                width: 100%
                background-color: $white
                height: 2px
                margin-bottom: 7.5px
                transition: .3s ease-in-out
                &.bottom_line
                    width: calc(100% - 20px)
                    margin-bottom: 0
            .excess_line
                position: absolute
                bottom: 0
                right: 0
                width: 10px
                height: 2px
                background-color: $white
                transition: .3s ease-in-out
    #footer
        position: relative
        display: flex
        flex-flow: row wrap
        align-items: flex-start
        padding: 60px 120px
        border-top: 1px solid #EFEFEF
        .logo
            flex: 0 0 15%
        .footer_link
            flex: 0 0 20%
            h3
                brandon_medium(16px, true)
                color: $black
                margin-bottom: 20px
            ul
                list-style: none
                margin: 0
                padding: 0
                li
                    margin-bottom: 5px
                    .footer_item
                        position: relative
                        brandon_regular(16px, false)
                        color: $black
                        transition: .3s ease-in-out
                        &::before
                            content: ''
                            position: absolute
                            top: 100%
                            left: 0
                            width: 0
                            height: 3px
                            z-index: 1
                            background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                            opacity: 0
                            transition: .3s ease-in-out .3s
                        &::after
                            content: ''
                            position: absolute
                            top: 100%
                            left: calc(100% - 25%)
                            width: 0
                            height: 3px
                            z-index: 1
                            background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                            opacity: 0
                            transition: .3s ease-in-out .05s
                        &:hover
                            color: $green
                            text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                            transition: .3s ease-in-out
                            &::before
                                width: calc(100% - 30%)
                                opacity: 1
                                transition: .3s ease-in-out .05s
                            &::after
                                width: calc(0% + 25%)
                                opacity: 1
                                transition: .3s ease-in-out .3s
            &.alt
                flex: 1 0 30%
                p
                    brandon_regular(16px, false)
                    color: $black
                    a
                        brandon_bold(16px, false)
                        color: $black
                        transition: .3s ease-in-out
                        &:hover
                            color: $green
                            text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                            transition: .3s ease-in-out
            .social_links
                display: flex
                flex-flow: row wrap
                align-items: center
                margin-bottom: 40px
                h4
                    brandon_regular(16px, false)
                    color: $black
                a
                    position: relative
                    font-size: 0
                    width: 25px
                    height: 25px
                    margin: 0 15px
                .fb
                    &::before
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 1
                        background-image: url('/icons/fb-icon.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &::after
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 0
                        background-image: url('/icons/fb-icon-active.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &:hover
                        &::before
                            opacity: 0
                            transition: .3s ease-in-out
                        &::after
                            opacity: 1
                            transition: .3s ease-in-out
                .ig
                    &::before
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 1
                        background-image: url('/icons/ig-icon.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &::after
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 0
                        background-image: url('/icons/ig-icon-active.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &:hover
                        &::before
                            opacity: 0
                            transition: .3s ease-in-out
                        &::after
                            opacity: 1
                            transition: .3s ease-in-out
        .back_to_top
            cursor: pointer
            position: absolute
            top: 50%
            right: 0
            display: flex
            flex-flow: row wrap
            align-items: center
            transform: translateY(-50%) rotate(90deg)
            img
                transform: rotate(-90deg)
            span
                brandon_medium(14px, true)
                letter-spacing: 1.4px
                color: $black
                padding-left: 40px
                transition: .3s ease-in-out
                &:hover
                    color: $green
                    text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                    transition: .3s ease-in-out
    #navbar_expanded
        position: fixed
        top: 0
        left: 0
        z-index: 999
        width: 100%
        height: 100%
        background-color: $white
        display: flex
        flex-flow: row wrap
        align-items: flex-start
        &.sticky
            .close_icon
                top: calc(0% + 20px)
            .logo
                padding: 10px 30px
                transition: .2s linear
        .logo
            padding: 15px 30px
            text-decoration: none
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: flex-start
            transition: .2s linear
            img
                width: 45px
                {image_default}
            .logo_title
                neutra_bold(22px, true)
                line-height: 1.25
                color: $black
                letter-spacing: 5px
                padding-left: 20px
                transition: .3s ease-in-out
        .content
            flex: 0 0 100%
            display: flex
            flex-flow: row wrap
            align-items: flex-start
            justify-content: space-between
            padding: 0 95px 40px
            .left
                flex: 0 0 45%
                animation: slide_from_left 1.5s
                .expanded_main_list
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        margin-bottom: 80px
                        .main_item
                            display: inline-block
                            position: relative
                            #menu
                                .letter
                                    fill: transparent
                                    stroke: $black
                                    transition: .3s ease-in-out
                                    for num in (1...15)
                                        &:nth-child({num})
                                            transition-delay: num * 50ms
                            &::before
                                content: ''
                                position: absolute
                                top: calc(0% - 20px)
                                right: calc(0% - 65px)
                                width: 40px
                                height: 82px
                                background-color: $white
                                transform: rotate(-25deg)
                                transition: .3s ease-in-out
                            &:hover
                                &::before
                                    right: calc(0% - 25px)
                                    transition: .3s ease-in-out
                                #menu
                                    .letter
                                        fill: $green
                                        stroke: $white
                                        transition: .3s ease-in-out
                                        for num in (1...15)
                                            &:nth-child({num})
                                                transition-delay: num * 50ms
                        &:last-child
                            margin-bottom: 0px
            .right
                flex: 0 0 45%
                animation: slide_from_right 1.5s
                .expanded_nav_list
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        margin-bottom: 40px
                        .nav_item
                            position: relative
                            brandon_bold(18px, true)
                            color: $black
                            transition: .3s ease-in-out
                            &::before
                                content: ''
                                position: absolute
                                top: 100%
                                left: 0
                                width: 0
                                height: 3px
                                z-index: 1
                                background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                                opacity: 0
                                transition: .3s ease-in-out .3s
                            &::after
                                content: ''
                                position: absolute
                                top: 100%
                                left: calc(100% - 25%)
                                width: 0
                                height: 3px
                                z-index: 1
                                background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                                opacity: 0
                                transition: .3s ease-in-out .05s
                            &:hover
                                color: $green
                                text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                                transition: .3s ease-in-out
                                &::before
                                    width: calc(100% - 30%)
                                    opacity: 1
                                    transition: .3s ease-in-out .05s
                                &::after
                                    width: calc(0% + 25%)
                                    opacity: 1
                                    transition: .3s ease-in-out .3s
                .expanded_nav_description
                    padding-top: 40px
                    .link
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        margin-bottom: 30px
                        p
                            brandon_regular(16px, false)
                            color: $black
                            margin-right: 10px
                        span
                            brandon_bold(16px, false)
                            padding-left: 5px
                            color: #2AB758
                    p
                        brandon_regular(16px, false)
                        color: $black
                        a
                            brandon_bold(16px, false)
                            color: $black
                            transition: .3s ease-in-out
                            &:hover
                                color: $green
                                text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                                transition: .3s ease-in-out
                    .social_links
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        margin-top: 30px
                        h4
                            brandon_regular(16px, false)
                            color: $black
                        a
                            position: relative
                            font-size: 0
                            width: 25px
                            height: 25px
                            margin: 0 15px
                        .fb
                            &::before
                                content: ''
                                position: absolute
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                opacity: 1
                                background-image: url('/icons/fb-icon.svg')
                                background-repeat: no-repeat
                                background-size: contain
                                background-position: center
                                transition: .3s ease-in-out
                            &::after
                                content: ''
                                position: absolute
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                opacity: 0
                                background-image: url('/icons/fb-icon-active.svg')
                                background-repeat: no-repeat
                                background-size: contain
                                background-position: center
                                transition: .3s ease-in-out
                            &:hover
                                &::before
                                    opacity: 0
                                    transition: .3s ease-in-out
                                &::after
                                    opacity: 1
                                    transition: .3s ease-in-out
                        .ig
                            &::before
                                content: ''
                                position: absolute
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                opacity: 1
                                background-image: url('/icons/ig-icon.svg')
                                background-repeat: no-repeat
                                background-size: contain
                                background-position: center
                                transition: .3s ease-in-out
                            &::after
                                content: ''
                                position: absolute
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                opacity: 0
                                background-image: url('/icons/ig-icon-active.svg')
                                background-repeat: no-repeat
                                background-size: contain
                                background-position: center
                                transition: .3s ease-in-out
                            &:hover
                                &::before
                                    opacity: 0
                                    transition: .3s ease-in-out
                                &::after
                                    opacity: 1
                                    transition: .3s ease-in-out
/**
 * Front */
.home
    background-color: $white_alt
    /**
     * Promos */
    #promos
        .promo_slide
            position: relative
            &.swiper-slide-active,
            &.swiper-slide-duplicate-active
                .overlay
                    animation: slide_from_rightY 1s
            .overlay
                position: absolute
                top: 50%
                left: calc(0% + 15%)
                width: 100%
                max-width: 450px
                z-index: 1
                text-align: center
                padding: 30px
                background-color: $white
                transform: translateY(-50%)
                box-shadow: 0px 0px 30px transparent
                transition: .3s ease-in-out
                .header_title
                    brandon_bold(14px, true)
                    color: $black_alt2
                    letter-spacing: 1.5px
                .title
                    brandon_bold(30px, false)
                    color: $black
                    margin: 20px 0 15px
                .description
                    brandon_regular(16px, false)
                    color: $black_alt2
                    line-height: 1.5
                .code
                    brandon_bold(30px, true)
                    color: $green
                    margin: 20px 0
                    background-color: transparent
                    text-align: center
                    border: none
                    outline: none
                    box-shadow: none
                    pointer-events: none
                &:hover
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5)
                    transition: .3s ease-in-out
    /**
     * Packages */
    #packages
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            margin: 50px 0
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/packages.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                margin-right: 50px
                text-align: right
                p
                    brandon_regular(20px, false)
                    letter-spacing: 0.5px
                    color: $black
                    text-align: left
                    margin-bottom: 40px
                    .red
                        color: $red
                .link
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    justify-content: flex-end
                    brandon_bold(20px, false)
                    letter-spacing: 0.5px
                    color: $green
                    transition: .3s ease-in-out
                    span
                        padding-right: 20px
                    div
                        margin-right: 4px
                        border-top: 5px solid transparent
                        border-left: 7px solid $green
                        border-bottom: 5px solid transparent
                        animation: blink 1s cubic-bezier(0, 0.5, 0.5, 1) infinite
                        &:nth-child(2)
                            animation-delay: -0.40s
                        &:nth-child(3)
                            animation-delay: -0.20s
                        &:nth-child(4)
                            margin-right: 0px
                            animation-delay: 0
                    &:hover
                        text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                        transition: .3s ease-in-out
        .content
            display: flex
            flex-flow: row wrap
            justify-content: center
            width: 100%
            max-width: calc(80% + 30px)
            margin: 0 auto 50px
            .package_wrapper
                position: relative
                display: flex
                flex-flow: column
                flex: 0 0 calc(33.33% - 30px)
                margin: 15px
                text-align: center
                background-color: $white
                padding: 50px 20px 20px
                box-shadow: 0px 10px 15px transparent
                overflow: hidden
                transform: perspective(1px) scale(1)
                transition: .3s ease-in-out
                .package_header
                    display: flex
                    flex-flow: row wrap
                    flex: auto
                    .title
                        flex: 0 0 100%
                        brandon_bold(36px, false)
                        color: $black
                        line-height: 1
                    .description
                        flex: 0 0 100%
                        margin: 30px 0 80px
                        brandon_medium(16px, true)
                        color: $black
                        line-height: 1.75
                .discounted_price
                    flex: 0 0 auto
                    brandon_regular(14px, false)
                    color: $black
                    text-decoration: line-through
                    margin-bottom: 5px
                .price
                    brandon_bold(20px, false)
                    color: $green
                    flex: 0 0 auto
                .expires
                    brandon_medium(14px, true)
                    color: $gray
                    flex: 0 0 auto
                    margin: 10px 0 20px
                .default_btn_wht
                    flex: 0 0 auto
                    width: 100%
                &.promo
                    .ribbon
                        position: absolute
                        top: calc(0% + 30px)
                        left: calc(0% - 60px)
                        width: 200px
                        brandon_bold(16px, true)
                        color: $white
                        background-color: $pink
                        transform: rotate(-45deg)
                        transition: .3s ease-in-out
                    .price
                        color: $pink
                &:hover
                    box-shadow: 0px 10px 15px rgba(226, 226, 226, 1)
                    transform: perspective(1px) scale(1.02)
                    transition: .3s ease-in-out
                    &.promo
                        .ribbon
                            background-color: $pink_alt
                            transition: .3s ease-in-out
                    .default_btn_wht
                        color: $white
                        border: 1px solid transparent
                        transition: .3s ease-in-out
                        &::before
                            opacity: 1
                            transition: .3s ease-in-out
    /**
     * Reviews */
    #reviews
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            margin: 50px 0 0
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/reviews.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                margin-right: 50px
                p
                    brandon_regular(20px, true)
                    letter-spacing: 0.5px
                    color: $black
                    text-align: center
                    strong
                        brandon_bold(30px, false)
                        letter-spacing: 0.75px
        .content
            padding: 40px 0
            .review_slide
                text-align: center
                background-color: $white
                padding: 40px 20px 30px
                box-shadow: 0 10px 15px transparent
                opacity: 1
                transform: scale(1)
                transition: .3s ease-in-out
                &.swiper-slide-prev
                    opacity: 0.5
                    transform: scale(0.9)
                    transition: .3s ease-in-out
                &.swiper-slide-next
                    opacity: 0.5
                    transform: scale(0.9)
                    transition: .3s ease-in-out
                &.swiper-slide-active
                    box-shadow: 0 10px 15px rgba(234, 234, 234, 1)
                    opacity: 1
                    transform: scale(1.1)
                    transition: .3s ease-in-out
                img
                    width: auto
                .description
                    brandon_regular(20px, false)
                    color: $black
                    margin-bottom: 30px
                .title
                    margin-top: 15px
                    brandon_medium(14px, true)
                    color: $black_alt2
    /**
     * Instructors */
    #instructors
        position: relative
        .overlay
            position: absolute
            top: 60%
            left: 0
            width: 100%
            padding: 0 0 0 20px
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            align-items: center
            transform: translateY(-50%)
            .image
                flex: 0 0 30%
                img
                    width: auto
                    max-width: 100%
            .info
                flex: 1 0 45%
                position: relative
                padding-left: 100px
                &::before
                    content: ''
                    position: absolute
                    top: calc(0% - 280px)
                    left: 0
                    right: 0
                    background-image: url('/instructors.svg')
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center
                    height: 350px
                    width: 100%
                img
                    width: 100%
                .title
                    brandon_bold(30px, false)
                    color: $white
                    margin-top: 20px
                .description
                    brandon_regular(20px, false)
                    color: $white
                    margin: 50px 0 40px
                .default_btn
                    flex: 0 0 auto
    /**
     * Studios */
    #studios
        background-image: url('/dotted-bg.png')
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            padding: 60px 0
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/studios.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                margin-right: 50px
                text-align: right
                p
                    brandon_regular(20px, false)
                    letter-spacing: 0.5px
                    color: $black
                    strong
                        brandon_bold(30px, false)
                        letter-spacing: 0.75px
                .default_btn
                    margin-top: 15px
        .content
            .studio_content
                width: 100%
                max-width: calc(80% + 30px)
                margin: 0 auto
                .wrapper
                    display: flex
                    flex-flow: row wrap
                    padding-bottom: 100px
                    .right
                        position: relative
                        flex: 0 0 30%
                        background-color: $white
                        .overlay
                            display: flex
                            flex-flow: column wrap
                            justify-content: space-between
                            position: absolute
                            top: 50%
                            padding: 40px 60px 40px 40px
                            width: 100%
                            height: 100%
                            transform: translateY(-50%)
                            .content_select
                                display: flex
                                flex-flow: row wrap
                                align-items: center
                                .input
                                    position: relative
                                    label
                                        margin-right: 10px
                                        brandon_regular(20px, false)
                                        color: $black
                                    select
                                        width: 200px
                                        -webkit-appearance: none
                                        background-color: transparent
                                        outline: none
                                        border: none
                                        border-bottom: 2px dashed $pink
                                        padding-right: 20px
                                        brandon_bold(20px, false)
                                        color: $pink
                                    &::before
                                        content: ''
                                        position: absolute
                                        top: 50%
                                        border-top: 7px solid $pink
                                        border-left: 5px solid transparent
                                        border-right: 5px solid transparent
                                        right: calc(0% + 10px)
                                        transform: rotate(0deg) translateY(-50%)
                                        transition: .3s ease-in-out
                            .content_flex
                                .title
                                    brandon_medium(40px, false)
                                    color: $black
                                    margin-top: 30px
                                .description
                                    margin: 20px 0 40px
                                    label
                                        display: block
                                        brandon_regular(18px, true)
                                        color: $black_alt2
                                        margin-bottom: 20px
                                    p
                                        margin-bottom: 10px
                                    p,
                                    a
                                        brandon_regular(18px, false)
                                        color: $black
                                        &.email
                                            color: $green
                                            text-decoration: underline
                                    .link
                                        display: flex
                                        flex-flow: row wrap
                                        align-items: center
                                        img
                                            margin-right: 15px
                                .default_btn
                                    margin-top: 40px
                                    width: 100%
                                    text-align: center
                    .left
                        flex: 0 0 70%
                        width: 100%
                        max-width: 70%
                        position: relative
                        .studio_slide
                            &.swiper-slide-active
                                .overlay
                                    .title
                                        transform: translateY(0px)
                                        transition: .3s ease-in-out
                            img
                                width: 100%
                            .overlay
                                position: absolute
                                bottom: calc(0% + 75px)
                                width: 100%
                                text-align: center
                                .title
                                    brandon_regular(16px, true)
                                    color: $white
                                    transform: translateY(-50px)
                                    transition: .3s ease-in-out
    /**
     * Let's Ride */
    #lets_ride
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            padding: 40px 0 30px
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/lets-ride.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: center
                img
                    margin-right: 10px
                span
                    brandon_bold(30px, false)
                    color: $black
                    letter-spacing: 0.75px
                    padding-bottom: 5px

/**
 * Instructors */
.instructors
    position: relative
    margin-top: 81px
    #instructors_nav
        position: fixed
        top: calc(0% + 80px)
        left: 0
        width: 100%
        z-index: 3
        display: flex
        flex-flow: row wrap
        background-color: $white
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1)
        transition: .3s ease-in-out
        .left,
        .right
            flex: 0 0 50%
            padding: 20px
            text-align: center
        .left
            position: relative
            border-right: 1px solid $border_alt3
            &.active
                .select
                    .custom_select
                        top: 100%
                        opacity: 1
                        visibility: visible
                        transition: .3s ease-in-out
            &::before
                content: ''
                position: absolute
                top: 50%
                right: calc(0% + 30px)
                border-top: 7px solid $black
                border-left: 5px solid transparent
                border-right: 5px solid transparent
                transform: translateY(-50%)
            .select
                .label
                    position: relative
                    brandon_bold(20px, false)
                    color: $black
                    letter-spacing: 1px
                    .count
                        brandon_medium(20px, false)
                        color: $white
                        text-align: center
                        position: absolute
                        top: 50%
                        right: calc(0% - 40px)
                        width: 30px
                        height: 30px
                        background-color: $green
                        border-radius: 50%
                        transform: translateY(-50%)
                        span
                            position: absolute
                            top: 50%
                            left: 0
                            right: 0
                            transform: translateY(-50%)
                .custom_select
                    position: absolute
                    width: 100%
                    height: 100%
                    top: calc(100% + 50px)
                    left: 0
                    text-align: left
                    opacity: 0
                    visibility: hidden
                    border-top: 1px solid $border_alt2
                    transition: .3s ease-in-out
                    .check
                        position: relative
                        background-color: $white
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        border-bottom: 1px solid $border_alt4
                        &.active
                            label
                                &::before
                                    width: 100%
                                    transition: .5s ease-in-out
                        &:last-child
                            border-bottom: 1px solid transparent
                        label
                            position: relative
                            z-index: 1
                            width: 100%
                            display: flex
                            flex-flow: row wrap
                            align-items: centerw
                            padding: 30px 40px
                            brandon_medium(20px, true)
                            color: $black
                            &.label
                                padding: 25px 40px
                            span
                                padding-left: 30px
                            &::before
                                content: ''
                                position: absolute
                                top: 0
                                left: 0
                                z-index: -1
                                background-color: rgba(0, 0, 0, 0.05)
                                width: 0
                                height: 100%
                                transition: .5s ease-in-out
                            &:hover
                                &::before
                                    width: 100%
                                    transition: .5s ease-in-out
                        input
                            position: absolute
                            right: calc(0% + 40px)
                            z-index: 0
                            -webkit-appearance: none
                            outline: none
                            flex: 0 0 21px
                            width: 21px
                            height: 21px
                            background-image: url('/icons/uncheck-icon.svg')
                            background-position: center
                            background-repeat: no-repeat
                            background-size: cover
                            transition: .3s ease-in-out
                            &:checked
                                background-image: url('/icons/check-icon.svg')
                                transition: .3s ease-in-out
        .right
            .input
                position: relative
                display: inline-block
                input
                    width: 250px
                    brandon_regular(20px, false)
                    color: $gray_alt2
                    letter-spacing: 1px
                    box-shadow: none
                    outline: none
                    border: none
                    padding-right: 25px
                &::before
                    content: ''
                    position: absolute
                    top: 50%
                    right: 0
                    background-image: url('/icons/search-icon.svg')
                    background-position: center
                    background-repeat: no-repeat
                    background-size: contain
                    width: 20px
                    height: 20px
                    transform: translateY(-50%)
    #instructors_content
        .header
            padding: 60px 0
            text-align: center
            h1
                brandon_bold(60px, true)
                color: $black
            .subheader
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: center
                h2
                    flex: 0 0 auto
                    brandon_regular(20px, false)
                    color: $black
                .select
                    flex: 0 0 auto
                    position: relative
                    select
                        -webkit-appearance: none
                        background-color: transparent
                        outline: none
                        border: none
                        border-bottom: 1px solid $green
                        padding: 0 20px 0 10px
                        margin-left: 10px
                        brandon_regular(20px, false)
                        color: $green
                    &::before
                        content: ''
                        position: absolute
                        top: 50%
                        right: calc(0%)
                        border-top: 7px solid $green
                        border-left: 5px solid transparent
                        border-right: 5px solid transparent
                        transform: rotate(0deg) translateY(-50%)
                        transition: .3s ease-in-out
        .content
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: center
            padding: 0 30px
            margin-bottom: 60px
            transition: .3s ease-in-out
            .load
                margin-top: 50px
                opacity: 1
                visibility: visible
                transition: .3s ease-in-out
                &.loaded
                    opacity: 0
                    visibility: hidden
                    transition: .3s ease-in-out
            .wrapper
                position: relative
                flex: 0 0 calc(25% - 20px)
                margin: 10px
                background-image: url('/instructor-bg.svg')
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                padding: 15% 0
                animation: fade_in 1s
                &::before
                    content: ''
                    position: absolute
                    z-index: 2
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.64) 100%)
                    opacity: 1
                    visibility: visible
                    transition: .3s ease-in-out
                &::after
                    content: ''
                    position: absolute
                    z-index: 1
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 0%)
                    opacity: 0
                    visibility: hidden
                    transition: .3s ease-in-out
                .follow
                    position: absolute
                    top: calc(0% - 10px)
                    right: calc(0% - 10px)
                    z-index: 4
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    brandon_medium(12px, true)
                    letter-spacing: 0.6px
                    color: $white
                    transform: rotate(90deg)
                    opacity: 0
                    visibility: hidden
                    transition: .3s ease-in-out
                    img
                        width: 17px
                        height: 17px
                    span
                        margin-left: 7.5px
                .main
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    width: auto
                    height: 100%
                    z-index: 1
                    display: block
                    margin: 0 auto
                /**
                 * SVG */
                #stripe
                    position: absolute
                    top: 0
                    left: 0
                    z-index: 4
                    opacity: 0
                    visibility: hidden
                    transition: .3s ease-in-out
                    .border
                        fill: none
                        stroke: $white
                        stroke-linecap: round
                        stroke-width: 0.75px
                        stroke-miterlimit: 10
                        stroke-dashoffset: 500
                        stroke-dasharray: 500
                        transition: 1s ease-in-out
                .overlay
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 100%
                    z-index: 2
                    padding: 20px
                    h2
                        brandon_bold(20px, true)
                        color: $white
                        letter-spacing: 1px
                    .action
                        margin-top: 0
                        opacity: 0
                        visibility: hidden
                        height: 0
                        overflow: hidden
                        transition: .3s ease-in-out
                        a
                            width: 100%
                            text-align: center
                &:hover
                    &::before
                        opacity: 0
                        visibility: hidden
                        transition: .3s ease-in-out
                    &::after
                        opacity: 1
                        visibility: visible
                        transition: .3s ease-in-out
                    .follow
                        top: calc(0% + 50px)
                        opacity: 1
                        visibility: visible
                        transition: .3s ease-in-out
                    #stripe
                        opacity: 1
                        visibility: visible
                        transition: .3s ease-in-out
                        .border
                            stroke-dashoffset: 0
                            transition: 3s ease-in-out
                    .overlay
                        .action
                            margin-top: 15px
                            opacity: 1
                            visibility: visible
                            transition: .3s ease-in-out
.instructor_inner
    #info
        display: flex
        flex-flow: row wrap
        align-items: center
        .left
            flex: 0 0 60%
            padding: 0 50px 0 100px
            animation: slide_from_left 1.5s
            h1
                brandon_bold(60px, true)
                color: $black
            .specializations
                display: flex
                flex-flow: row wrap
                align-items: flex-start
                margin: 50px 0
                .wrapper
                    flex: 0 0 100px
                    text-align: center
                    margin-right: 20px
                    img
                        width: 50px
                    h3
                        display: inline-block
                        brandon_medium(14px, true)
                        color: $black
                        margin-top: 10px
                    &:last-child
                        margin-right: 0
            .description
                margin-bottom: 50px
                h2
                    brandon_bold(32px, false)
                    color: $black
                    margin-bottom: 40px
                    letter-spacing: 1.6px
                p
                    brandon_regular(16px, false)
                    color: $black
                    line-height: 2
                    letter-spacing: 0.4px
            .talents
                margin-bottom: 50px
                p
                    brandon_regular(20px, false)
                    color: $black
                    letter-spacing: 0.5px
            .quote
                padding: 40px 0 0 40px
                background-image: url('/icons/quote-icon.svg')
                background-repeat: no-repeat
                background-position: top left
                background-size: contain
                p
                    brandon_regular(16px, false)
                    color: $black
                    line-height: 2
                    letter-spacing: 0.8px
                    .green
                        color: $green
        .right
            animation: slide_from_right 1.5s
            flex: 0 0 40%
            padding: 22.5% 0
            background-repeat: no-repeat
            background-position: center
            background-size: contain
    /**
     * Classes */
    #classes
        background-image: url(/dotted-bg.png)
        .header
            padding: 80px 0 30px
            text-align: center
            h2
                brandon_bold(60px, true)
                color: $green
                letter-spacing: 3px
                span
                    color: $black
            h3
                brandon_regular(26px, false)
                color: $black
                letter-spacing: 0.65px
        .content
            width: 100%
            max-width: 65%
            margin: 20px auto 100px
            background-color: $white
            .wrapper
                position: relative
                z-index: 1
                display: flex
                flex-flow: row wrap
                align-items: center
                padding: 30px 40px
                border-bottom: 1px solid #EFEFEF
                box-shadow: 0px 0 30px transparent
                transition: .3s ease-in-out
                .start
                    flex: 0 0 auto
                    .date
                        brandon_bold(20px, false)
                        color: $green
                    .time
                        brandon_bold(20px, false)
                        color: rgba(23, 23, 23, 0.55)
                .info
                    flex: 1 0 30%
                    padding-left: 40px
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    .main
                        width: 60px
                        border-radius: 50%
                    .description
                        padding-left: 30px
                        h2
                            brandon_bold(20px, false)
                            color: $black
                            margin-bottom: 10px
                        .limit
                            display: flex
                            flex-flow: row wrap
                            align-items: center
                            span
                                brandon_regular(16px, false)
                                color: $black
                                margin-right: 5px
                            img
                                filter: brightness(0)
                                cursor: pointer
                        p
                            brandon_regular(16px, false)
                            color: $black
                .default_btn_out
                    flex: 0 0 200px
                    text-align: center
                &:last-child
                    border-bottom: 1px solid transparent
                &:hover
                    box-shadow: 0px 0 30px rgba(226, 226, 226, 1)
                    transition: .3s ease-in-out
    /**
     * Spotify */
    #spotify
        display: flex
        flex-flow: row wrap
        background-color: $black
        .left
            position: relative
            flex: 0 0 70%
            padding: 100px 0 0 100px
            h2
                brandon_bold(32px, true)
                letter-spacing: 1.6px
                line-height: 1.5
                color: $white
                margin: 30px 0 40px
            p
                brandon_regular(16px, false)
                letter-spacing: 0.4px
                color: $white
                line-height: 2
        .right
            flex: 0 0 30%
    /**
     * Ride With */
    #ride_with
        .header
            padding: 40px 0 30px
            text-align: center
            h2
                brandon_bold(60px, true)
                color: $black
                letter-spacing: 3px
            .description
                flex: 0 0 40%
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: center
                img
                    margin-right: 10px
                span
                    brandon_bold(30px, false)
                    color: $black
                    letter-spacing: 0.75px
                    padding-bottom: 5px
#instagram
    .image_wrapper
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: center
        &.less_one
            .image
                flex: 0 0 25%
        .image
            position: relative
            flex: 0 0 20%
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 1
                background-color: rgba(0, 0, 0, 0.6)
                opacity: 0
                visibility: hidden
                transition: .3s ease-in-out
            &:after
                content: ''
                position: absolute
                top: 50%
                width: 40px
                height: 40px
                left: 50%
                z-index: 2
                background-image: url('/icons/ig-white-icon.svg')
                background-position: center
                background-repeat: no-repeat
                background-size: contain
                transform: translateX(-50%) translateY(-50%)
                opacity: 0
                visibility: hidden
                transition: .3s ease-in-out
            &:hover
                &::before,
                &::after
                    opacity: 1
                    visibility: visible
                    transition: .3s ease-in-out
/**
 * Breadcrumb */
#breadcrumb
    padding-top: 81px
    border-bottom: 1px solid $border_alt
    &.has_padding
        padding-top: 70px
    ul
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-start
        list-style: none
        padding: 10px 30px
        margin: 0
        li
            .home,
            .slash
                brandon_regular(14px, false)
                color: $black_alt2
            .crumb
                brandon_regular(14px, false)
                color: $gray
                text-transform: capitalize
            .slash
                margin-right: 3px

/**
 * Default Slider */
.default
    .swiper-button-prev,
    .swiper-button-next
        width: 51px
        height: 51px
        background-size: contain
    .swiper-button-prev
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 1
            background-image: url('/icons/promo-prev.svg')
            transition: .3s ease-in-out
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 0
            background-image: url('/icons/promo-prev-active.svg')
            transition: .3s ease-in-out
        &:hover
            &::before
                opacity: 0
                transition: .3s ease-in-out
            &::after
                opacity: 1
                transition: .3s ease-in-out
    .swiper-button-next
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 100%
            height: 100%
            opacity: 1
            background-image: url('/icons/promo-next.svg')
            transition: .3s ease-in-out
        &::after
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 100%
            height: 100%
            opacity: 0
            background-image: url('/icons/promo-next-active.svg')
            transition: .3s ease-in-out
        &:hover
            &::before
                opacity: 0
                transition: .3s ease-in-out
            &::after
                opacity: 1
                transition: .3s ease-in-out
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next
        background-image: none
        left: calc(0% + 25px)
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev
        background-image: none
        right: calc(0% + 25px)
    .swiper-pagination
        left: 0
        right: 0
        bottom: calc(0% + 25px) !important
        .swiper-pagination-bullet
            margin: 0 2.5px
            background: rgba(255, 255, 255, 0.45)
            opacity: 1
            transition: .3s ease-in-out
            &.swiper-pagination-bullet-active
                background: $white
                transition: .3s ease-in-out
    &.alt
        padding: 30px 100px 50px
        .swiper-button-prev
            &::before
                background-image: url('/icons/review-prev.svg')
            &::after
                background-image: url('/icons/review-prev-active.svg')
        .swiper-button-next
            &::before
                background-image: url('/icons/review-next.svg')
            &::after
                background-image: url('/icons/review-next-active.svg')
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next
            z-index: 5
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev
            z-index: 5
        &::before
            content: ''
            position: absolute
            top: 0
            width: 100px
            left: 0
            height: 100%
            z-index: 2
            background-color: $white_alt
        &::after
            content: ''
            position: absolute
            top: 0
            width: 100px
            right: 0
            height: 100%
            z-index: 2
            background-color: $white_alt

/**
 * Default Banner */
#banner
    position: relative
    overflow: hidden
    h1
        font-size: 0
    .main_image
        width: 100%
        height: 100vh
        object-position: top
    .overlay_top
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 1
        .overlay_image
            width: 920px
            animation: slide_from_left 1.5s
        .overlay_child
            position: absolute
            top: 50%
            right: calc(50% - 25%)
            text-align: center
            transform: translateY(-50%) translateX(0px)
            cursor: pointer
            animation: slide_from_rightY 1.5s
            /**
             * SVG */
            #play_icon
                transform: scale(1)
                transition: .3s ease-in-out
                .rect
                    fill: none
                .play
                    fill: $green_alt
                    transition: .3s ease-in-out
                .border
                    fill: none
                    stroke: $white
                    stroke-miterlimit: 10
                    stroke-dasharray: 500
                    animation: dash 5s linear
                    transition: .3s ease-in-out
            .label
                brandon_medium(18px, true)
                color: $white
                margin-top: 10px
                transition: .3s ease-in-out
            &:hover
                #play_icon
                    transform: scale(1.1)
                    transition: .3s ease-in-out
                    .border
                        stroke: $green_alt
                        transition: .3s ease-in-out
                .label
                    color: $green_alt
                    text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                    transition: .3s ease-in-out
    .overlay_bottom
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-start
        position: absolute
        bottom: calc(0% + 125px)
        left: 0
        right: 0
        width: 100%
        max-width: 75%
        margin: 0 auto
        z-index: 1
        animation: slide_from_left 1.5s
        p
            flex: 0 0 55%
            brandon_regular(20px, false)
            color: $white
            line-height: 1.5
            margin-right: 80px
        .default_btn
            flex: 0 0 auto
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        z-index: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.4)

/**
 * Close Icon **/
.close_icon
    position: absolute
    width: 30px
    height: 30px
    top: calc(0% + 30px)
    right: calc(0% + 40px)
    &::before
        content: ''
        position: absolute
        top: 0
        right: calc(0% + 13px)
        width: 2px
        height: 30px
        background-color: $black
        transform: rotate(45deg)
    &::after
        content: ''
        position: absolute
        top: 0
        right: calc(0% + 13px)
        width: 2px
        height: 30px
        background-color: $black
        transform: rotate(-45deg)

/**
 * Default Loader **/
.loader_wrapper
    position: fixed
    z-index: 999
    .background
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        background-color: rgba(0, 0, 0, 0.5)
    .wrapper
        display: flex
        align-items: center
        position: fixed
        top: 50%
        left: 50%
        z-index: 3
        text-align: center
        background-image: linear-gradient(to right, $red, $orange)
        box-shadow: 0px 10px 25px rgba(0,0,0,0.15)
        padding: 0 40px
        border-radius: 5px
        transform: translate(-50%, -50%)
        .loader
            display: inline-block
            position: relative
            width: 64px
            height: 64px
            div
                display: inline-block
                position: absolute
                left: 6px
                width: 13px
                background-color: $white
                animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
                &:nth-child(1)
                    left: 6px
                    animation-delay: -0.20s
                &:nth-child(2)
                    left: 26px
                    animation-delay: -0.10s
                &:nth-child(3)
                    left: 45px
                    animation-delay: 0
        .loader_text
            sf_pro_regular(18px)
            color: $white
            margin-left: 10px

/**
 * Animation */
.fade-enter-active,
.fade-leave-active
    transition: all .3s ease-in-out

.fade-enter,
.fade-leave-to
    opacity: 0

.page-enter-active,
.page-leave-active
    transition: all .3s ease-in-out

.page-enter,
.page-leave-to
    opacity: 0

.slide-enter-active,
.slide-leave-active
    transition: all .3s ease-in-out

.slide-enter,
.slide-leave-to
    opacity: 0
    transform: translateY(-20px)

.fade_in
    animation: fade_in .3s

.fade_out
    animation: fade_out .3s

.slide_from_left
    animation: slide_from_left .3s

.slide_from_right
    animation: slide_from_right .3s

@keyframes fade_in
	from {
		opacity: 0
    }
	to {
		opacity: 1
    }

@keyframes fade_out
	from {
		opacity: 1
    }
	to {
		opacity: 0
    }

@keyframes slide_from_left
	from {
		opacity: 0
        transform: translateX(-100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }

@keyframes slide_from_right
	from {
		opacity: 0
        transform: translateX(100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }

@keyframes slide_from_rightY
	from {
		opacity: 0
        transform: translateY(-50%) translateX(100px)
    }
	to {
		opacity: 1
        transform: translateY(-50%) translateX(0px)
    }

@keyframes slide_from_bottom
	from {
		opacity: 0
        transform: translateY(100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }

@keyframes loader
    0% {
        top: 6px
        height: 51px
    }
    50%, 100% {
        top: 19px
        height: 26px
    }

@keyframes blink
    0% {
        opacity: 1
    }
    50%, 100% {
        opacity: 0.3
    }

@keyframes dash
    from {
        stroke-dashoffset: 500
    }
    to {
        stroke-dashoffset: 0
    }
