@import 'fonts'

$green = #26A48B
$green_alt = #78F7DE
$green_alt2 = #82BCB1

$blue = #00B1FF
$blue_alt = #7AD1F7
$blue_alt2 = #E3F7FF

$pink = #9E558B
$pink_alt = #FD649C

$red = #F13747
$red_alt = #FFE5E6

$white = #FFF
$white_alt = #FCFCFC

$black = #171717
$black_alt = #4E4E4E
$black_alt2 = #53565C

$gray = #A8A8A8
$gray_alt = #ABADB9

$border = #DEDEDE
$border_alt = #EDEEF0
$border_alt2 = #9C9EAA
$border_alt3 = #A0A0A0

image_default =
    height: auto
    vertical-align: middle
    object-fit: cover
    -webkit-user-drag: none

html
    -webkit-text-size-adjust: none
    -webkit-font-smoothing: subpixel-antialiased
    backface-visibility: hidden

*,
*:before,
*:after
    user-select: none
    box-sizing: border-box
    margin: 0

body
    overflow-x: hidden
    &.no_click
        pointer-events: none
    &.no_scroll
        overflow-y: hidden

input,
input:before,
input:after,
textarea,
textarea:before,
textarea:after,
select,
select:before,
select:after
    user-select: initial

h1,
h2,
h3,
h4,
h5
    font-weight: normal

table
    width: 100%
    border-collapse: collapse

img
    width: auto
    max-width: 100%
    {image_default}
    transition: .3s ease-in-out

a
    text-decoration: none

svg
    font-family: Brandon-Bold

/**
 * Default Buttons */
.default_btn
    display: inline-block
    width: auto
    brandon_bold(16px)
    color: $white
    text-transform: uppercase
    letter-spacing: .5px
    padding: 15px 45px
    background-color: transparent
    border: none
    outline: none
    background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
    box-shadow: 0px 0px 30px transparent
    transition: .3s ease-in-out
    &:hover
        box-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
        transition: .3s ease-in-out

.default_btn_wht
    display: inline-block
    position: relative
    brandon_bold(16px)
    color: $green
    text-transform: uppercase
    letter-spacing: .5px
    outline: none
    padding: 15px 45px
    background-color: transparent
    border: 1px solid $green_alt2
    transition: .3s ease-in-out
    span
        position: inherit
    &::before
        content: ''
        position: absolute
        z-index: 0
        top: 0
        left: 0
        right: 0
        height: 100%
        opacity: 0
        background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
        box-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
        transition: .3s ease-in-out
    &:hover
        color: $white
        border: 1px solid transparent
        transition: .3s ease-in-out
        &::before
            opacity: 1
            transition: .3s ease-in-out

#main_container
    position: relative
    /**
     * Navbar Side */
    #header
        display: flex
        flex-flow: row wrap
        align-items: center
        position: fixed
        z-index: 3
        width: 100%
        background-color: transparent
        border-bottom: 0.5px solid $border_alt3
        transition: .2s linear
        &.sticky
            background-color: $white
            .navbar
                padding: 10px 30px
                transition: .2s linear
                .logo
                    .logo_title
                        color: $black
                        transition: .3s ease-in-out
                .nav_list
                    li
                        .nav_item
                            color: $black_alt
                            transition: .3s ease-in-out
                            &:hover
                                color: $green
                                text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                                transition: .3s ease-in-out
                                &::before
                                    width: calc(100% - 30px)
                                    opacity: 1
                                    transition: .3s ease-in-out .05s
                                &::after
                                    width: 20px
                                    opacity: 1
                                    transition: .3s ease-in-out .3s
            .nav_burger
                .bar
                    background-color: $black_alt
                    transition: .3s ease-in-out
                .excess_line
                    background-color: $black_alt
                    transition: .3s ease-in-out
        .navbar
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            flex: 0 0 95%
            border-right: 0.5px solid $border_alt3
            padding: 15px 30px
            transition: .2s linear
            .logo
                text-decoration: none
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: flex-start
                transition: .3s ease-in-out
                img
                    width: 45px
                    {image_default}
                .logo_title
                    neutra_bold(22px)
                    line-height: 1.25
                    color: $white
                    letter-spacing: 5px
                    padding-left: 20px
                    text-transform: uppercase
                    transition: .3s ease-in-out
            .nav_list
                list-style: none
                padding: 0
                margin: 0
                display: flex
                flex-flow: row wrap
                align-items: center
                li
                    margin: 0 30px
                    .nav_item
                        position: relative
                        brandon_bold(16px)
                        color: $white
                        text-transform: uppercase
                        letter-spacing: .5px
                        transition: .3s ease-in-out
                        &::before
                            content: ''
                            position: absolute
                            top: 100%
                            left: 0
                            width: 0
                            height: 3px
                            z-index: 1
                            background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                            opacity: 0
                            transition: .3s ease-in-out .3s
                        &::after
                            content: ''
                            position: absolute
                            top: 100%
                            left: calc(100% - 25px)
                            width: 0
                            height: 3px
                            z-index: 1
                            background-image: linear-gradient(25deg, $green 0%, $green_alt 100%)
                            opacity: 0
                            transition: .3s ease-in-out .05s
                        &:hover
                            color: $green_alt
                            text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                            transition: .3s ease-in-out
                            &::before
                                width: calc(100% - 30px)
                                opacity: 1
                                transition: .3s ease-in-out .05s
                            &::after
                                width: 25px
                                opacity: 1
                                transition: .3s ease-in-out .3s
        .nav_burger
            flex: 1 0 auto
            margin: 0 22px
            position: relative
            cursor: pointer
            .bar
                width: 100%
                background-color: $white
                height: 2px
                margin-bottom: 7.5px
                transition: .3s ease-in-out
                &.bottom_line
                    width: calc(100% - 20px)
                    margin-bottom: 0
            .excess_line
                position: absolute
                bottom: 0
                right: 0
                width: 10px
                height: 2px
                background-color: $white
                transition: .3s ease-in-out
    #footer
        display: flex
        flex-flow: row wrap
        align-items: flex-start
        padding: 60px 120px
        .logo
            flex: 0 0 10%
        .footer_link
            flex: 0 0 15%
            h3
                brandon_medium(16px)
                color: $black
                text-transform: uppercase
                margin-bottom: 20px
            ul
                list-style: none
                margin: 0
                padding: 0
                li
                    margin-bottom: 5px
                    .footer_item
                        position: relative
                        brandon_regular(16px)
                        color: $black
                        transition: .3s ease-in-out
                        &:hover
                            color: $green
                            text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                            transition: .3s ease-in-out
            &.alt
                flex: 1 0 30%
                p
                    brandon_regular(16px)
                    color: $black
                    a
                        brandon_regular(16px)
                        color: $green
            .social_links
                display: flex
                flex-flow: row wrap
                align-items: center
                margin-bottom: 40px
                h4
                    brandon_regular(16px)
                    color: $black
                a
                    position: relative
                    font-size: 0
                    width: 25px
                    height: 25px
                    margin: 0 15px
                .fb
                    &::before
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 1
                        background-image: url('/icons/fb-icon.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &::after
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 0
                        background-image: url('/icons/fb-icon-active.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &:hover
                        &::before
                            opacity: 0
                            transition: .3s ease-in-out
                        &::after
                            opacity: 1
                            transition: .3s ease-in-out
                .ig
                    &::before
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 1
                        background-image: url('/icons/ig-icon.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &::after
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        opacity: 0
                        background-image: url('/icons/ig-icon-active.svg')
                        background-repeat: no-repeat
                        background-size: contain
                        background-position: center
                        transition: .3s ease-in-out
                    &:hover
                        &::before
                            opacity: 0
                            transition: .3s ease-in-out
                        &::after
                            opacity: 1
                            transition: .3s ease-in-out

/**
 * Front */
.home
    background-color: $white_alt
    /**
     * Promos */
    #promos
        .promo_slide
            position: relative
            &.swiper-slide-active,
            &.swiper-slide-diplicate-active
                .overlay
                    animation: slide_from_rightY 1s
            .overlay
                position: absolute
                top: 50%
                left: calc(0% + 15%)
                width: 100%
                max-width: 450px
                z-index: 1
                text-align: center
                padding: 30px
                background-color: $white
                transform: translateY(-50%)
                box-shadow: 0px 0px 30px transparent
                transition: .3s ease-in-out
                .header_title
                    brandon_bold(14px)
                    color: $black_alt2
                    text-transform: uppercase
                    letter-spacing: 1.5px
                .title
                    brandon_bold(30px)
                    color: $black
                    margin: 20px 0 15px
                .description
                    brandon_regular(16px)
                    color: $black_alt2
                    line-height: 1.5
                .code
                    brandon_bold(30px)
                    color: $green
                    margin: 20px 0
                    text-transform: uppercase
                    background-color: transparent
                    text-align: center
                    border: none
                    outline: none
                    box-shadow: none
                &:hover
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5)
                    transition: .3s ease-in-out
    /**
     * Packages */
    #packages
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            margin: 50px 0
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/packages.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                margin-right: 50px
                text-align: right
                p
                    brandon_regular(20px)
                    letter-spacing: 0.5px
                    color: $black
                    text-align: left
                    margin-bottom: 40px
                    .red
                        color: $red
                .link
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    justify-content: flex-end
                    brandon_bold(20px)
                    letter-spacing: 0.5px
                    color: $green
                    transition: .3s ease-in-out
                    span
                        padding-right: 20px
                    div
                        margin-right: 4px
                        border-top: 5px solid transparent
                        border-left: 7px solid $green
                        border-bottom: 5px solid transparent
                        animation: blink 1s cubic-bezier(0, 0.5, 0.5, 1) infinite
                        &:nth-child(2)
                            animation-delay: -0.40s
                        &:nth-child(3)
                            animation-delay: -0.20s
                        &:nth-child(4)
                            margin-right: 0px
                            animation-delay: 0
                    &:hover
                        text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                        transition: .3s ease-in-out
        .content
            display: flex
            flex-flow: row wrap
            justify-content: center
            width: 100%
            max-width: calc(80% + 30px)
            margin: 0 auto 50px
            .package_wrapper
                position: relative
                display: flex
                flex-flow: column
                flex: 0 0 calc(33.33% - 30px)
                margin: 15px
                text-align: center
                background-color: $white
                padding: 50px 20px 20px
                box-shadow: 0px 10px 15px transparent
                overflow: hidden
                transform: perspective(1px) scale(1)
                transition: .3s ease-in-out
                .package_header
                    display: flex
                    flex-flow: row wrap
                    flex: auto
                    .title
                        flex: 0 0 100%
                        brandon_bold(36px)
                        color: $black
                        line-height: 1
                    .description
                        flex: 0 0 100%
                        margin: 30px 0 80px
                        brandon_medium(16px)
                        color: $black
                        text-transform: uppercase
                        line-height: 1.75
                .discounted_price
                    flex: 0 0 auto
                    brandon_regular(14px)
                    color: $black
                    text-decoration: line-through
                    margin-bottom: 5px
                .price
                    brandon_bold(20px)
                    color: $green
                    flex: 0 0 auto
                .expires
                    brandon_medium(14px)
                    color: $gray
                    text-transform: uppercase
                    flex: 0 0 auto
                    margin: 10px 0 20px
                .default_btn_wht
                    flex: 0 0 auto
                    width: 100%
                &.promo
                    .ribbon
                        position: absolute
                        top: calc(0% + 30px)
                        left: calc(0% - 60px)
                        width: 200px
                        brandon_bold(16px)
                        text-transform: uppercase
                        color: $white
                        background-color: $pink
                        transform: rotate(-45deg)
                        transition: .3s ease-in-out
                    .price
                        color: $pink
                &:hover
                    box-shadow: 0px 10px 15px rgba(226, 226, 226, 1)
                    transform: perspective(1px) scale(1.02)
                    transition: .3s ease-in-out
                    &.promo
                        .ribbon
                            background-color: $pink_alt
                            transition: .3s ease-in-out
                    .default_btn_wht
                        color: $white
                        border: 1px solid transparent
                        transition: .3s ease-in-out
                        &::before
                            opacity: 1
                            transition: .3s ease-in-out
    /**
     * Reviews */
    #reviews
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            margin: 50px 0 0
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/reviews.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                margin-right: 50px
                p
                    brandon_regular(20px)
                    letter-spacing: 0.5px
                    color: $black
                    text-align: center
                    strong
                        brandon_bold(30px)
                        letter-spacing: 0.75px
        .content
            padding: 40px 0
            .review_slide
                text-align: center
                background-color: $white
                padding: 40px 20px 30px
                box-shadow: 0 10px 15px transparent
                opacity: 1
                transform: scale(1)
                transition: .3s ease-in-out
                &.swiper-slide-prev
                    opacity: 0.5
                    transform: scale(0.9)
                    transition: .3s ease-in-out
                &.swiper-slide-next
                    opacity: 0.5
                    transform: scale(0.9)
                    transition: .3s ease-in-out
                &.swiper-slide-active
                    box-shadow: 0 10px 15px rgba(234, 234, 234, 1)
                    opacity: 1
                    transform: scale(1.1)
                    transition: .3s ease-in-out
                img
                    width: auto
                .description
                    brandon_regular(20px)
                    color: $black
                    margin-bottom: 30px
                .title
                    margin-top: 15px
                    brandon_medium(14px)
                    color: $black_alt2
                    text-transform: uppercase
    /**
     * Instructors */
    #instructors
        position: relative
        .overlay
            position: absolute
            top: 60%
            left: 0
            width: 100%
            padding: 0 0 0 20px
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            align-items: center
            transform: translateY(-50%)
            .image
                flex: 0 0 30%
                img
                    width: auto
                    max-width: 100%
            .info
                flex: 1 0 45%
                position: relative
                padding-left: 100px
                &::before
                    content: ''
                    position: absolute
                    top: calc(0% - 280px)
                    left: 0
                    right: 0
                    background-image: url('/instructors.svg')
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center
                    height: 350px
                    width: 100%
                img
                    width: 100%
                .title
                    brandon_bold(30px)
                    color: $white
                    margin-top: 20px
                .description
                    brandon_regular(20px)
                    color: $white
                    margin: 50px 0 40px
                .default_btn
                    flex: 0 0 auto
    /**
     * Studios */
    #studios
        background-image: url('/dotted-bg.png')
        .header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            padding: 60px 0
            .image_bg
                font-size: 0
                flex: 0 0 50%
                background-image: url(/studios.svg)
                padding: 7% 0
                background-repeat: no-repeat
                background-position: left center
                background-size: contain
            .description
                flex: 0 0 40%
                margin-right: 50px
                text-align: right
                p
                    brandon_regular(20px)
                    letter-spacing: 0.5px
                    color: $black
                    strong
                        brandon_bold(30px)
                        letter-spacing: 0.75px
                .default_btn
                    margin-top: 15px
        .content
            .studio_content
                width: 100%
                max-width: calc(80% + 30px)
                margin: 0 auto
                .wrapper
                    display: flex
                    flex-flow: row wrap
                    padding-bottom: 100px
                    .right
                        position: relative
                        flex: 0 0 30%
                        background-color: $white
                        .overlay
                            display: flex
                            flex-flow: column wrap
                            justify-content: space-between
                            position: absolute
                            top: 50%
                            padding: 40px 60px 40px 40px
                            width: 100%
                            height: 100%
                            transform: translateY(-50%)
                            .content_select
                                display: flex
                                flex-flow: row wrap
                                align-items: center
                                .input
                                    position: relative
                                    label
                                        margin-right: 10px
                                        brandon_regular(20px)
                                        color: $black
                                    select
                                        width: 200px
                                        -webkit-appearance: none
                                        background-color: transparent
                                        outline: none
                                        border: none
                                        border-bottom: 2px dashed $pink
                                        padding-right: 20px
                                        brandon_bold(20px)
                                        color: $pink
                                    &::before
                                        content: ''
                                        position: absolute
                                        top: 50%
                                        border-top: 7px solid $pink
                                        border-left: 5px solid transparent
                                        border-right: 5px solid transparent
                                        right: calc(0% + 10px)
                                        transform: rotate(0deg) translateY(-50%)
                                        transition: .3s ease-in-out
                            .content_flex
                                .title
                                    brandon_medium(40px)
                                    color: $black
                                    margin-top: 30px
                                .description
                                    margin: 20px 0 40px
                                    label
                                        display: block
                                        brandon_regular(18px)
                                        color: $black_alt2
                                        text-transform: uppercase
                                        margin-bottom: 20px
                                    p
                                        margin-bottom: 10px
                                    p,
                                    a
                                        brandon_regular(18px)
                                        color: $black
                                        &.email
                                            color: $green
                                            text-decoration: underline
                                    a
                                        display: flex
                                        flex-flow: row wrap
                                        align-items: center
                                        margin-bottom: 10px
                                        img
                                            margin-right: 10px
                                .default_btn
                                    margin-top: 40px
                                    width: 100%
                                    text-align: center
                    .left
                        flex: 0 0 70%
                        width: 100%
                        max-width: 70%
                        position: relative
                        .studio_slide
                            &.swiper-slide-active
                                .overlay
                                    .title
                                        transform: translateY(0px)
                                        transition: .3s ease-in-out
                            img
                                width: 100%
                            .overlay
                                position: absolute
                                bottom: calc(0% + 75px)
                                width: 100%
                                text-align: center
                                .title
                                    brandon_regular(16px)
                                    color: $white
                                    text-transform: uppercase
                                    transform: translateY(-50px)
                                    transition: .3s ease-in-out

/**
 * Default Slider */
.default
    .swiper-button-prev,
    .swiper-button-next
        width: 51px
        height: 51px
        background-size: contain
    .swiper-button-prev
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 1
            background-image: url('/icons/promo-prev.svg')
            transition: .3s ease-in-out
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 0
            background-image: url('/icons/promo-prev-active.svg')
            transition: .3s ease-in-out
        &:hover
            &::before
                opacity: 0
                transition: .3s ease-in-out
            &::after
                opacity: 1
                transition: .3s ease-in-out
    .swiper-button-next
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 100%
            height: 100%
            opacity: 1
            background-image: url('/icons/promo-next.svg')
            transition: .3s ease-in-out
        &::after
            content: ''
            position: absolute
            top: 0
            right: 0
            width: 100%
            height: 100%
            opacity: 0
            background-image: url('/icons/promo-next-active.svg')
            transition: .3s ease-in-out
        &:hover
            &::before
                opacity: 0
                transition: .3s ease-in-out
            &::after
                opacity: 1
                transition: .3s ease-in-out
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next
        background-image: none
        left: calc(0% + 25px)
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev
        background-image: none
        right: calc(0% + 25px)
    .swiper-pagination
        left: 0
        right: 0
        bottom: calc(0% + 25px) !important
        .swiper-pagination-bullet
            margin: 0 2.5px
            background: rgba(255, 255, 255, 0.45)
            opacity: 1
            transition: .3s ease-in-out
            &.swiper-pagination-bullet-active
                background: $white
                transition: .3s ease-in-out
    &.alt
        padding: 30px 100px 50px
        .swiper-button-prev
            &::before
                background-image: url('/icons/review-prev.svg')
            &::after
                background-image: url('/icons/review-prev-active.svg')
        .swiper-button-next
            &::before
                background-image: url('/icons/review-next.svg')
            &::after
                background-image: url('/icons/review-next-active.svg')
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next
            z-index: 5
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev
            z-index: 5
        &::before
            content: ''
            position: absolute
            top: 0
            width: 100px
            left: 0
            height: 100%
            z-index: 2
            background-color: $white_alt
        &::after
            content: ''
            position: absolute
            top: 0
            width: 100px
            right: 0
            height: 100%
            z-index: 2
            background-color: $white_alt

/**
 * Default Banner */
#banner
    position: relative
    overflow: hidden
    .main_image
        width: 100%
        height: 100vh
        object-position: top
    .overlay_top
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 1
        .overlay_image
            width: 920px
            animation: slide_from_left 1.5s
        .overlay_child
            position: absolute
            top: 50%
            right: calc(50% - 25%)
            text-align: center
            transform: translateY(-50%) translateX(0px)
            cursor: pointer
            animation: slide_from_rightY 1.5s
            /**
             * SVG */
            #play_icon
                transform: scale(1)
                transition: .3s ease-in-out
                .rect
                    fill: none
                .play
                    fill: $green_alt
                    transition: .3s ease-in-out
                .border
                    fill: none
                    stroke: $white
                    stroke-miterlimit: 10
                    stroke-dasharray: 500
                    animation: dash 5s linear
                    transition: .3s ease-in-out
            .label
                brandon_medium(18px)
                color: $white
                text-transform: uppercase
                margin-top: 10px
                transition: .3s ease-in-out
            &:hover
                #play_icon
                    transform: scale(1.1)
                    transition: .3s ease-in-out
                    .border
                        stroke: $green_alt
                        transition: .3s ease-in-out
                .label
                    color: $green_alt
                    text-shadow: 0px 0px 30px rgba(38, 164, 139, 0.75)
                    transition: .3s ease-in-out
    .overlay_bottom
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-start
        position: absolute
        bottom: calc(0% + 125px)
        left: 0
        right: 0
        width: 100%
        max-width: 75%
        margin: 0 auto
        z-index: 1
        animation: slide_from_left 1.5s
        p
            flex: 0 0 55%
            brandon_regular(20px)
            color: $white
            line-height: 1.5
            margin-right: 80px
        .default_btn
            flex: 0 0 auto
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        z-index: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.4)

/**
 * Default Loader **/
.loader_wrapper
    position: fixed
    z-index: 999
    .background
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        background-color: rgba(0, 0, 0, 0.5)
    .wrapper
        display: flex
        align-items: center
        position: fixed
        top: 50%
        left: 50%
        z-index: 3
        text-align: center
        background-image: linear-gradient(to right, $red, $orange)
        box-shadow: 0px 10px 25px rgba(0,0,0,0.15)
        padding: 0 40px
        border-radius: 5px
        transform: translate(-50%, -50%)
        .loader
            display: inline-block
            position: relative
            width: 64px
            height: 64px
            div
                display: inline-block
                position: absolute
                left: 6px
                width: 13px
                background-color: $white
                animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
                &:nth-child(1)
                    left: 6px
                    animation-delay: -0.20s
                &:nth-child(2)
                    left: 26px
                    animation-delay: -0.10s
                &:nth-child(3)
                    left: 45px
                    animation-delay: 0
        .loader_text
            sf_pro_regular(18px)
            color: $white
            margin-left: 10px

/**
 * Animation */
.fade-enter-active,
.fade-leave-active
    transition: all .3s ease-in-out

.fade-enter,
.fade-leave-to
    opacity: 0

.page-enter-active,
.page-leave-active
    transition: all .3s ease-in-out

.page-enter,
.page-leave-to
    transform: translateY(100px)
    opacity: 0

.slide-enter-active,
.slide-leave-active
    transition: all .3s ease-in-out

.slide-enter,
.slide-leave-to
    opacity: 0
    transform: translateY(-20px)

.fade_in
    animation: fade_in .3s

.fade_out
    animation: fade_out .3s

.slide_from_left
    animation: slide_from_left .3s

.slide_from_right
    animation: slide_from_right .3s

@keyframes fade_in
	from {
		opacity: 0
    }
	to {
		opacity: 1
    }

@keyframes fade_out
	from {
		opacity: 1
    }
	to {
		opacity: 0
    }

@keyframes slide_from_left
	from {
		opacity: 0
        transform: translateX(-100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }

@keyframes slide_from_right
	from {
		opacity: 0
        transform: translateX(100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }

@keyframes slide_from_rightY
	from {
		opacity: 0
        transform: translateY(-50%) translateX(100px)
    }
	to {
		opacity: 1
        transform: translateY(-50%) translateX(0px)
    }

@keyframes slide_from_bottom
	from {
		opacity: 0
        transform: translateY(100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }

@keyframes loader
    0% {
        top: 6px
        height: 51px
    }
    50%, 100% {
        top: 19px
        height: 26px
    }

@keyframes blink
    0% {
        opacity: 1
    }
    50%, 100% {
        opacity: 0.3
    }

@keyframes dash
    from {
        stroke-dashoffset: 500
    }
    to {
        stroke-dashoffset: 0
    }
