
@media (max-width: 1440px) and (min-width: 1281px)
	html
	    -webkit-text-size-adjust: none
	    -webkit-font-smoothing: subpixel-antialiased
	    backface-visibility: hidden
@media (max-width: 1280px) and (min-width: 768px)
	html
	    -webkit-text-size-adjust: none
	    -webkit-font-smoothing: subpixel-antialiased
	    backface-visibility: hidden
@media (max-width: 1280px) and (min-width: 1025px)
	/*home*/
	#banner 
		.overlay_top
			top: -57px
@media (max-width: 767px) and (min-width: 320px)
	/*home page*/
	.home 
		#banner 
			.overlay_top
				top: calc(61px + 33px)
		#packages 
			.header 
				.image_bg
					background-position: calc(0% - 15px) center
			.content 
				.action_mobile
					flex: unset
		#studios 
			.content 
				.studio_content 
					.wrapper 
						.right 
							.overlay
								align-items: center
	/*Terms and Conditions*/
	.basic_page 
		#content 
			.top 
				h1
					font-size: 20px
			.bottom
				padding-top: 10px
				max-width: calc(100% - 30px)
@media (max-width: 767px) and (min-width: 425px)
	/*home*/
	html
	    -webkit-text-size-adjust: none
	    -webkit-font-smoothing: subpixel-antialiased
	    backface-visibility: hidden	
@media (max-width: 767px) and (min-width: 465px)
	/*home page*/
	#banner 
		.overlay_top
			top: calc(61px + 3px)
@media (max-width: 767px) and (min-width: 600px)
	/*home*/
	.home 
		#packages 
			.header 
				.image_bg
					background-position: calc(0% - 30px) center
					
