
@media (max-width: 1440px) and (min-width: 1281px)
	html
	    -webkit-text-size-adjust: none
	    -webkit-font-smoothing: subpixel-antialiased
	    backface-visibility: hidden
@media (max-width: 1280px) and (min-width: 768px)
	/*Buy Rides - Input Promo Code*/
	.buy_rides
		&.inner 
			#payments
				max-width: calc(90%)
				&.dismiss
					padding: 40px 0 60px
				.default_btn_img 
					.btn_wrapper
						span
							font-size: 12px
							padding: 10px 30px
							&.img
								padding: 10px
								img 
									width: 15px
				.default_btn_blk 
					padding: 10px 30px
					font-size: 12px
				.preview_payment
					.default_btn_blue
						font-size: 12px
						padding: 10px 30px
				.default_modal_page 
					.default_btn
						width: unset
	/*user profile*/
	.my_profile 
		#content 
			.profile_tab_content 
				.wrapper .profile_journey 
					.teaser 
						.badges_earned 
							.summary 
								.summary_content
									flex-flow: row wrap
									align-items: flex-start
									.left 
										.badge
											justify-content: flex-start
											span
												margin-left: 10px
									.right 
										.badge
											justify-content: flex-start
											span
												margin-left: 10px
@media (max-width: 1280px) and (min-width: 1025px)
	/*home*/
	#banner 
		.overlay_top
			top: -57px
	.book_a_bike
		&.landing 
			#content 
				.left
					flex: 0 0 25%
					padding: 15px
					.filter 
						height: 100%
						.wrapper
							&.studio_filter
								flex-flow: column
								align-items: flex-start
				.right 
					flex: 0 0 75%
					.date_navigator 
						.date
							border-bottom: 1px solid #e5e5e5		
@media (max-width: 1024px) and (min-width: 768px)
	.buy_rides
		&.inner 
			#payments 
				.step 
					.wrapper 
						.right
							padding-left: 30px
						.left 
							padding-right: 30px
@media (max-width: 767px) and (min-width: 320px)
	/*home page*/
	.home 
		#banner 
			.overlay_top
				top: calc(61px + 33px)
		#packages 
			.header 
				.image_bg
					background-position: calc(0% - 15px) center
			.content 
				.action_mobile
					flex: unset
		#studios 
			.content 
				.studio_content 
					.wrapper 
						.right 
							.overlay
								align-items: center
	/*Terms and Conditions*/
	.basic_page 
		#content 
			.top 
				h1
					font-size: 20px
			.bottom
				padding-top: 10px
				max-width: calc(100% - 30px)
	/*Buy Rides - Input Promo Code*/
	.buy_rides
		&.inner
			.form_flex
				&.with_btn 
					.form_button 
						.default_btn_out
							padding: 5px 15px
			.default_btn_img 
				.btn_wrapper 
					span
						&:last-child
							padding: 1024px
	/*user profile*/
	.my_profile 
		#content 
			.profile_tab_content 
				.wrapper .profile_journey 
					.teaser 
						.badges_earned 
							.summary 
								.summary_content
									flex-flow: column
									align-items: flex-start
									.left 
										.badge
											justify-content: flex-start
											span
												margin-left: 10px
									.right 
										.badge
											justify-content: flex-start
											span
												margin-left: 10px
										
@media (max-width: 767px) and (min-width: 425px)
	/*home*/
	html
	    -webkit-text-size-adjust: none
	    -webkit-font-smoothing: subpixel-antialiased
	    backface-visibility: hidden	
@media (max-width: 767px) and (min-width: 465px)
	/*home page*/
	#banner 
		.overlay_top
			top: calc(61px + 3px)
@media (max-width: 767px) and (min-width: 600px)
	/*home*/
	.home 
		#packages 
			.header 
				.image_bg
					background-position: calc(0% - 30px) center
	/*book a bike confirmation*/
	.default_modal_page 
		#disclaimer 
			.content 
				.left
					img 
						width: 100%
	/*user profile*/
	.my_profile 
		#content 
			.profile_tab_content 
				.wrapper .profile_journey 
					.teaser 
						.badges_earned 
							.summary 
								.summary_content
									flex-flow: row wrap
	
