@font-face
    font-family: 'Neutra-Bold'
    src: url('../fonts/NeutraText-Bold.woff2') format('woff2'),
        url('../fonts/NeutraText-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Neutra-Book'
    src: url('../fonts/NeutraText-Book.woff2') format('woff2'),
        url('../fonts/NeutraText-Book.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Neutra-Book-Italic'
    src: url('../fonts/NeutraText-BookItalic.woff2') format('woff2'),
        url('../fonts/NeutraText-BookItalic.woff') format('woff')
    font-weight: 500
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Neutra-Bold-Italic'
    src: url('../fonts/NeutraText-BoldItalic.woff2') format('woff2'),
        url('../fonts/NeutraText-BoldItalic.woff') format('woff')
    font-weight: bold
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Brandon-Regular-Italic'
    src: url('../fonts/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
    url('../fonts/BrandonGrotesque-RegularItalic.woff') format('woff')
    font-weight: normal
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Brandon-Black'
    src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff')
    font-weight: 900
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Brandon-Light-Italic'
    src: url('../fonts/BrandonGrotesque-LightItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-LightItalic.woff') format('woff')
    font-weight: 300
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Brandon-Thin-Italic'
    src: url('../fonts/BrandonGrotesque-ThinItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-ThinItalic.woff') format('woff')
    font-weight: 100
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Brandon-Bold-Italic'
    src: url('../fonts/BrandonGrotesque-BoldItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-BoldItalic.woff') format('woff')
    font-weight: bold
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Brandon-Light'
    src: url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Light.woff') format('woff')
    font-weight: 300
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Brandon-Medium-Italic'
    src: url('../fonts/BrandonGrotesque-MediumItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-MediumItalic.woff') format('woff')
    font-weight: 500
    font-style: italic
    font-display: auto

@font-face
    font-family: 'Brandon-Thin'
    src: url('../fonts/BrandonGrotesque-Thin.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Thin.woff') format('woff')
    font-weight: 100
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Brandon-Bold'
    src: url('../fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Brandon-Regular'
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: auto

@font-face
    font-family: 'Brandon-Medium'
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: auto



neutra_bold(size, uppercaseStatus)
    font-family: Neutra-Bold
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

neutra_book(size, uppercaseStatus)
    font-family: Neutra-Book
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

neutra_book_italic(size, uppercaseStatus)
    font-family: Neutra-Book-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

neutra_bold_italic(size, uppercaseStatus)
    font-family: Neutra-Bold-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_regular_italic(size, uppercaseStatus)
    font-family: Brandon-Regular-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_black(size, uppercaseStatus)
    font-family: Brandon-Black
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_light_italic(size, uppercaseStatus)
    font-family: Brandon-Light-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_thin_italic(size, uppercaseStatus)
    font-family: Brandon-Thin-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_bold_italic(size, uppercaseStatus)
    font-family: Brandon-Bold-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_light(size, uppercaseStatus)
    font-family: Brandon-Light
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_medium_italic(size, uppercaseStatus)
    font-family: Brandon-Medium-Italic
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_thin(size, uppercaseStatus)
    font-family: Brandon-Thin
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_bold(size, uppercaseStatus)
    font-family: Brandon-Bold
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_regular(size, uppercaseStatus)
    font-family: Brandon-Regular
    font-size: size
    if uppercaseStatus
        text-transform: uppercase

brandon_medium(size, uppercaseStatus)
    font-family: Brandon-Medium
    font-size: size
    if uppercaseStatus
        text-transform: uppercase
