@import 'fonts'

@media (max-width: 767px) and (min-width: 320px)

    #main_container
        #header
            &.not_front
                .navbar
                    padding: 10px
            .navbar
                flex: 1 0 70%
                .logo
                    img
                        width: 30px
                    .logo_title
                        neutra_bold(14px, true)
                        padding-left: 10px
            .nav_burger
                flex: 0 0 50px
                margin: 0 10px
        #footer
            padding: 30px
            .logo
                flex: 0 0 100%
                img
                    width: 50px
            .footer_link
                flex: 0 0 50%
                height: 0px
                overflow-y: hidden
                transition: .3s ease-in-out
                &.active
                    margin-bottom: 10px
                &.alt
                    flex: 0 0 100%
                    height: 100%
                    .social_links
                        margin-bottom: 20px
            .back_to_top
                top: calc(0% + 50px)
                right: calc(0% + 30px)
                transform: translateY(0%) rotate(90deg)
        #pro_tip
            top: calc(0% + 61px)
            padding: 5px 15px
            .tip
                brandon_regular_italic(14px, false)

    .default
        .swiper-pagination
            bottom: calc(0% + 15px) !important
            .swiper-pagination-bullet
                background: rgba(0, 0, 0, 0.45)
                &.swiper-pagination-bullet-active
                    background: #000

    #promos
        .swiper-container
            padding-bottom: 30px
        .promo_slide
            &.swiper-slide-active,
            &.swiper-slide-duplicate-active
                .overlay
                    animation: fade_in 1.5s
            img
                width: 100%
            .overlay
                position: relative
                top: 0
                left: 0
                max-width: 100%
                padding: 20px 15px
                transform: translateY(0%)
                .title
                    brandon_bold(22px, false)
                    line-height: 1.25
                    margin: 10px 0 20px
                .description
                    brandon_regular(14px, false)
                .copy_wrapper
                    .code
                        brandon_bold(26px, true)
                &:hover
                    box-shadow: 0px 0px 30px transparent

    #packages
        &.alt
            .header
                margin: 0 5px
                h2
                    display: inline-block
                    margin: 0 auto
                    brandon_bold(22px, false)
                    line-height: 1
        .header
            padding: 30px 0 10px
        .content
            max-width: calc(100% - 30px)
            padding-bottom: 20px
            .package_wrapper
                flex: 0 0 100%
                padding: 50px 20px
                &.promo
                    .ribbon
                        top: calc(0% + 20px)
                        left: calc(0% - 68px)
                .package_header
                    .title
                        brandon_bold(26px, false)
                    .description
                        margin: 10px 0 20px
                        brandon_medium(14px, false)
            .default_btn
                &.load
                    margin-top: 10px

    .buy_rides
        &.inner
            &.fish
                background-image: url('/dotted-bg.png')
                #payments
                    padding: 30px 0
                    &.success
                        padding: 0
            #payments
                max-width: calc(100% - 30px)
                &.dismiss,
                &.dismissed
                    padding: 20px 0
                .step
                    .header_title
                        brandon_bold(20px, false)
                        margin-bottom: 15px
                    .wrapper
                        .left
                            padding-right: 0px
                            padding-bottom: 10px
                            margin-bottom: 30px
                            border-bottom: 1px solid #d0d0d0
                            .header
                                h2
                                    brandon_regular(18px, false)
                        .right
                            border-left: none
                            padding-left: 0px
                            .breakdown_list
                                .total
                                    margin: 25px 0 0
                                    p
                                        brandon_bold(16px, false)
                            .breakdown_actions
                                margin: 30px 0 20px
                                &.alt
                                    margin: 15px 0
                                .default_btn_img
                                    margin-top: 20px
                        .left,
                        .right
                            flex: 0 0 100%
                    .preview_payment
                        max-width: 100%
                        .preview
                            .item
                                h3,
                                p
                                    brandon_regular(16px, false)
                            .available
                                .available_item
                                    h3
                                        brandon_regular(16px, false)
                                    p
                                        brandon_medium(16px, false)
                            .total
                                margin: 25px 0
                                p
                                    brandon_bold(16px, false)
                            .paypal_disclaimer
                                text-align: center
                                .wrapper
                                    justify-content: center

        #banner
            margin-top: 61px
            img
                height: 250px
        #packages
            background-image: url('/dotted-bg.png')
        #digital
            img
                width: 100%
                height: 250px
            .overlay
                margin: 0 15px
                h2
                    brandon_bold(28px, false)
                    line-height: 1.25
                h3
                    brandon_regular(16px, false)
                    margin: 10px 0 20px
                .default_btn
                    width: auto
    .book_a_bike
        #banner
            margin-top: 61px
            img
                height: 250px
        &.landing
            #content
                .left
                    flex: 0 0 100%
                    padding: 15px 10px
                    .filter
                        height: 0px
                        overflow-y: hidden
                        transition: .3s ease-in-out
                        .wrapper
                            &.studio_filter
                                padding-bottom: 10px
                                border-bottom: 1px solid #EDEEF0
                                display: flex
                                flex-flow: row wrap
                                align-items: center
                                h3
                                    flex: 0 0 100%
                                .group
                                    flex: 0 0 calc(100% / 2)
                                    label
                                        display: block
                                        padding-left: 20px
                                        brandon_medium(16px, false)
                            &.instructor_filter
                                margin-top: 30px
                                .autocomplete
                                    .text
                                        brandon_regular(16px, false)
                                    .autocomplete_dropdown
                                        .list
                                            padding: 7.5px 10px
                                            img
                                                width: 35px
                                            p
                                                brandon_regular(16px, false)
                            h3
                                margin: 15px 0
                                brandon_regular(16px, true)
                .right
                    flex: 0 0 100%
                    padding: 0
                    .date_navigator
                        background-image: url('/dotted-bg.png')
                        .date
                            flex: 0 0 calc(100% / 5)
                            padding: 10px 15px
                            .overlay
                                .abbr
                                    brandon_bold(14px, false)
                                    margin-bottom: 0px
                                .month
                                    letter-spacing: 0.14px
                                    brandon_bold(14px, true)
                                    margin-bottom: 5px
                                .day
                                    brandon_bold(28px, false)
                            &::before
                                border-radius: 0px
                            &.active,
                            &.hover
                                transform: scale(1)
                                border-radius: 0px
                                transition: .3s ease-in-out
                    .schedule_list
                        .header
                            margin: 10px 5px
                            text-align: center
                            span
                                brandon_regular(16px, false)
                                &.label
                                    brandon_regular_italic(16px, false)
                        .no_schedule
                            max-width: calc(100% - 30px)
                            margin: 30px auto
                            p
                                brandon_black(25px, true)
        &.inner
            #content
                padding: 60px 0 0
                max-width: calc(100% - 20px)
                &.fish
                    padding: 0
                    margin: 30px auto
                    .main_right
                        .content
                            padding: 30px 0 20px
                &.dismiss
                    padding: 0 0 40px
                .main_left
                    .header
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        justify-content: center
                        padding: 20px 0 0
                        border-bottom: 1px solid transparent
                        h2
                            brandon_bold(20px, false)
                            &:first-child
                                padding-right: 10px
                    .content
                        ul
                            padding: 20px 0
                            li
                                brandon_regular(12px, false)
                .main_right
                    margin-left: 0
                    .content
                        padding: 30px 0 60px
                        .seat_wrapper
                            height: 350px
                            max-width: 350px
                            margin: 10px auto
                            transition: .3s ease-in-out
                            .overlay_header
                                top: calc(0% - 30px)
                                left: calc(50%)
                                width: 100%
                                h3
                                    brandon_regular(18px, false)
                                h4
                                    brandon_regular_italic(12px, false)
                                    margin: 0 0 20px
                                img
                                    width: 70px
                            .overlay_seat
                                &.left
                                    justify-content: flex-start
                                    top: calc(0% + 20px)
                                    left: 0
                                    .seat
                                        flex: 0 0 calc(50% - 15px)
                                        &:last-child,
                                        &:nth-child(2)
                                            top: calc(0px + 30px)
                                &.right
                                    justify-content: flex-end
                                    top: calc(0% + 20px)
                                    right: 0
                                    .seat
                                        flex: 0 0 calc(50% - 15px)
                                        &:first-child,
                                        &:nth-child(3)
                                            top: calc(0px + 30px)
                                &.layout_1
                                    &.bottom
                                        bottom: calc(0% + 140px)
                                    &.bottom_alt
                                        bottom: calc(0% + 85px)
                                        .seat
                                            left: 0
                                    &.bottom_alt_2
                                        bottom: calc(0% + 30px)
                                &.bottom,
                                &.bottom_alt,
                                &.bottom_alt_2
                                    .seat
                                        padding: 20px 11.5px
                                        margin: 2.5px
                                .seat
                                    margin: 3px
                                    padding: 18px 6px
                                    .seat_number
                                        brandon_bold(12px, true)
                                        bottom: 50%
                                        transform: translateY(50%)
                        .footer
                            .legends
                                ul
                                    li
                                        brandon_medium(10px, true)
                                        margin: 0 15px 0 0
                                        &:last-child
                                            margin: 0
                                        span
                                            width: 15px
                                            height: 15px
                                            margin-right: 5px
                            .actions
                                padding: 10px 0
                                margin-top: 20px
                                .next_wrapper
                                    .left,
                                    .right
                                        flex: 0 0 100%
                                    .left
                                        padding: 10px 20px
                                        justify-content: center
                                        .flex
                                            flex: 0 0 100%
                                            &.package,
                                            &.package_details
                                                margin-bottom: 15px
                                                .toggler
                                                    justify-content: center
                                    .right
                                        text-align: center
                                        margin-top: 0
                .main_left,
                .main_right
                    flex: 0 0 100%

    .default_btn,
    .default_btn_out,
    .default_btn_blue
        width: 100%
        brandon_bold(14px, true)
        padding: 12px 10px
    .default_btn_wht_alt
        .text
            brandon_bold(14px, true)
    .default_btn_img
        width: 100%
        brandon_bold(14px, true)
        .btn_wrapper
            justify-content: center
            span
                padding: 12px 10px
                &.img
                    padding: 0
                    border-right: none
                    img
                        width: 25px

    .form_group
        margin-bottom: 20px
        .validation_errors
            brandon_medium(14px, false)

    .form_flex
        &.with_btn
            margin-bottom: 20px
            &.alt
                .form_group
                    &.qty
                        flex: 0 0 20%
                .form_button
                    flex: 0 0 auto
            .form_group
                flex: 1 0 40%
                margin-bottom: 0
                margin-right: 10px
            .form_button
                flex: 0 0 auto
                .default_btn_out
                    width: 100%
                    padding: 12px 15px
        .form_group
            flex: 0 0 100%
            margin-bottom: 20px

    .form_radio
        label
            brandon_regular(16px, false)
            margin-left: 10px

    .input_text
        brandon_regular(16px, false)
        &.alt
            brandon_regular(16px, true)

    .form_disclaimer
        brandon_regular(14px, false)

    .default_modal
        #default_form
            &.overlay
                &.alt,
                &.alt_2
                    max-width: calc(100% - 30px)
            .modal_wrapper
                .form_title
                    brandon_bold(22px, false)
                    padding: 40px 20px 30px
                .modal_main_group
                    padding: 0 20px 20px
                    .form_custom_checkbox
                        .custom_checkbox
                            padding: 20px 40px 20px 20px
                            label
                                brandon_bold(18px, false)
                            .info
                                p
                                    brandon_medium(12px, false)
                            #check
                                right: calc(0% + 10px)
                    .form_toggler
                        .form_flex
                            margin-bottom: 0
        .confirmation_wrapper
            max-width: calc(100% - 30px)
            padding: 40px 20px 30px
            .confirmation_highlight
                brandon_bold(22px, false)
                margin-top: 20px
            .confirmation_text
                brandon_regular(16px, false)
            .member_info
                margin-top: 20px
                h2
                    brandon_bold(25px, false)
            .button_group
                margin-top: 30px
                &.alt
                    .flex
                        flex: 0 0 100%
                .flex
                    flex: 0 0 48.33%

    .default_modal_page
        #banner
            margin-top: 0

    #breadcrumb
        padding-top: 61px
        &.dismiss
            padding-top: 61px
        ul
            padding: 10px 15px

    #banner
        &.alt_2
            .overlay_mid
                h1
                    brandon_bold(26px, false)
        img
            width: 100%
        .overlay_mid
            h1
                brandon_bold(30px, true)
            h2
                brandon_bold(16px, false)

    #referral
        padding: 20px 15px 30px
        .wrapper
            h2
                brandon_bold(18px, false)
            h3
                brandon_regular(14px, false)
                margin: 20px 0 40px
            #default_form
                .form_flex
                    &.with_btn
                        margin-bottom: 0
                        .form_group
                            margin-right: 0
                        .form_button
                            flex: 0 0 100%
                            text-align: center
                            margin-top: 20px
                            .default_btn
                                width: auto
                                padding: 12px 15px

@media (max-width: 767px) and (min-width: 425px)

    .default_btn,
    .default_btn_out
        width: auto
        padding: 12px 15px

    #main_container
        .book_a_bike
            &.inner
                #content
                    .main_right
                        .content
                            .seat_wrapper
                                max-width: 465px
                                transition: .3s ease-in-out
                                .overlay_seat
                                    &.layout_1
                                        &.bottom
                                            bottom: calc(0% + 150px)
                                        &.bottom_alt
                                            bottom: calc(0% + 95px)
                                            .seat
                                                left: 0
                                        &.bottom_alt_2
                                            bottom: calc(0% + 40px)
                                    &.bottom,
                                    &.bottom_alt,
                                    &.bottom_alt_2
                                        .seat
                                            padding: 20px 11.5px
                                            margin: 5.5px
                            .footer
                                .actions
                                    text-align: center
                                    .next_wrapper
                                        .left
                                            padding: 10px 0
                                            .flex
                                                flex: 0 0 auto
                                                &.package,
                                                &.package_details
                                                    .toggler
                                                        justify-content: space-between
                                                &.package
                                                    flex: 1 0 60%
                                                    padding-right: 10px
                                                &.package_details
                                                    flex: 1 0 auto

@media (max-width: 767px) and (min-width: 465px)

    .default_btn,
    .default_btn_out
        width: auto
        padding: 12px 45px

    #main_container
        .book_a_bike
            &.inner
                #content
                    .main_right
                        .content
                            .seat_wrapper
                                max-width: 465px
                                transition: .3s ease-in-out
                                .overlay_seat
                                    &.layout_1
                                        &.bottom
                                            bottom: calc(0% + 135px)
                                        &.bottom_alt
                                            bottom: calc(0% + 75px)
                                            .seat
                                                left: 0
                                        &.bottom_alt_2
                                            bottom: calc(0% + 15px)
                                    &.bottom,
                                    &.bottom_alt,
                                    &.bottom_alt_2
                                        .seat
                                            padding: 22px 13.5px
                                            margin: 7.5px
                                    .seat
                                        margin: 3px
                                        padding: 20px 7px
                            .footer
                                .actions
                                    text-align: center
                                    .next_wrapper
                                        .left
                                            padding: 10px 0
                                            .flex
                                                flex: 1 0 auto
                                                &.package,
                                                &.package_details
                                                    .toggler
                                                        justify-content: center
                                                &.package
                                                    flex: 1 0 50%
                                                &.package_details
                                                    flex: 1 0 30%

@media (max-width: 767px) and (min-width: 600px)

    .default_btn,
    .default_btn_out
        width: auto
        padding: 12px 45px

    .form_flex
        .form_group
            flex: 0 0 48.33%
            margin-bottom: 30px

    .default_modal
        #default_form
            .modal_wrapper
                .form_title
                    brandon_bold(24px, false)
                .modal_main_group
                    .form_custom_checkbox
                        .custom_checkbox
                            label
                            .info
                                p
                                    brandon_medium(14px, false)
                            #check
                                right: calc(0% + 20px)
        .confirmation_wrapper
            .confirmation_highlight
                brandon_bold(24px, false)
            .confirmation_text
                brandon_regular(18px, false)
            .member_info
                h2
                    brandon_bold(28px, false)
            .button_group
                &.alt
                    .flex
                        flex: 0 0 auto
                .flex
                    flex: 0 0 48.33%

    #main_container
        .book_a_bike
            &.inner
                #content
                    padding: 30px 0 0
                    &.fish
                        padding: 0
                    .main_left
                        .header
                            h2
                                brandon_bold(24px, flase)
                        .content
                            ul
                                brandon_regular(14px, false)
                    .main_right
                        .content
                            .seat_wrapper
                                max-width: 600px
                                height: 380px
                                margin: 20px auto 30px
                                transition: .3s ease-in-out
                                .overlay_header
                                    h3
                                        brandon_regular(22px, false)
                                    h4
                                        brandon_regular(14px, false)
                                    img
                                        width: 100px
                                .overlay_seat
                                    &.layout_1
                                        &.bottom
                                            bottom: calc(0% + 135px)
                                        &.bottom_alt
                                            bottom: calc(0% + 70px)
                                            .seat
                                                left: 0
                                        &.bottom_alt_2
                                            bottom: calc(0% + 5px)
                                    &.left,
                                    &.right
                                        top: calc(0% + 15px)
                                    &.bottom,
                                    &.bottom_alt,
                                    &.bottom_alt_2
                                        .seat
                                            padding: 25px 19.5px
                                            margin: 7.5px
                                    .seat
                                        margin: 3.5px
                                        padding: 25px 10px
                            .footer
                                .actions
                                    text-align: center
                                    .next_wrapper
                                        .left
                                            padding: 10px 0
                                            .flex
                                                flex: 1 0 auto
                                                &.package,
                                                &.package_details
                                                    .toggler
                                                        justify-content: center
                                                &.package
                                                    flex: 1 0 50%
                                                &.package_details
                                                    flex: 1 0 30%
